
<div class="container">
  <div class="header-container">
    <img src="https://cdn.discordapp.com/attachments/827059486086004789/950446738097987644/El_ejercito_de_los_muertos.webp"  class="header-image" />
    <div class="header">
     

      
       
      </svg>
      <h1 class="main-heading">El ejército de los muertos</h1>
<span  class="tag">Acción</span>
<span  class="tag">Zombies</span>





    

     
    
      <div class="stats">
        <span class="stat-module">
          Año <span class="stat-number">2021</span>
        </span>
        <span class="stat-module">
          Duración <span class="stat-number">2h 28m</span>
        </span>
        
        </span>
      </div>
    </div> <!-- END header -->
  </div>
  
  <div class="overlay-header"></div>
  
  <div class="body">
    <img src="https://cdn.discordapp.com/attachments/827059486086004789/950446738450305055/El_ejercito_de_los_muertos1.webp" alt="Hugh Jackman" class="body-image" />
    <div class="body-action- u-flex-center">
      
        
      </svg>
    </div>
    <span class="body-stats"> <br><span></span></span>
<FONT SIZE=10> 
    <span class="body-stats">SINOPSIS <br><span></span></span>
    <div class="u-clearfix"></div>
    <div class="body-info">
      <div align='center'>
       <FONT SIZE=4> 
 <br>
        
      <p>
Tras la aparición de zombis en Las Vegas, un grupo de mercenarios lo arriesga todo y se aventura al área de cuarentena para llevar a cabo el mayor atraco de sus vidas.
      </p>
    </div>
</div>
</div>






 <iframe width="100%" height="515" src="https://www.youtube.com/embed/ikxpwm2-fTk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
                     
                     
                     
                     
                              <button class="collapsible">Ver pelicula</button>
<div class="content">

   
    
				</aside><aside class="video-options"><ul  ><div class="accordian"><ul><li class="active"> <li><h3><span class=""></span></h3><ul> 
                
                
                
                
                
                


<li><a href="https://ok.ru/videoembed/2156279302752?autoplay=1" class="btn third" >latino</a><div  class="visto"><input class="tgl tgl-flip" id="160475" type="checkbox" type="checkbox" store="160475"><label class="tgl-btn" data-tg-off="No visto" data-tg-on="Visto" for="160475"></label></div><br>Codigo<br>160475<br><br>
    
    
    
    
    
    </ul>
    
    </div>
    
    <link rel="stylesheet" href="https://juandell90.github.io/playmedia/stylepel.cs" />
<script src="https://juandell90.github.io/playmedia/scriptpel.js"></script>

<style>
 /*-------diseño plantilla---------*/

html 

*, *:before, *:after {
  box-sizing: inherit;
  
}

.container {
  box-shadow: 0 0 50px rgba(0,0,0,.3);
  margin: 10px auto;
  overflow: hidden;
  width: 100%;
  
  
}

.header-container {
  position: relative;
  
}

.header-image {
  left: 0;
  position: absolute;
  top: 0;
   width: 150%;
  z-index: -1000;
  height: 720;
  -webkit-animation: zoomEffect 15s infinite;
          animation: zoomEffect 15s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  
}	

@-webkit-keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
  }
  100% {
    -webkit-transform: scale(1.2) translateX(0px) translateY(0px);
            transform: scale(1.2) translateX(0px) translateY(0px);
  }
}

@keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1) translateX(0) translateY(0);
            transform: scale(1) translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: scale(1.2) translateX(0px) translateY(0px);
            transform: scale(1.2) translateX(0px) translateY(0px);
  }
}

.header {
  color: #fff;
  padding: 15px;
  height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4)
} 



.main-heading {
  color: #fff;  
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 12px;
  
  
}

.tag {
  background-color: rgba(255, 0, 0, .8);
  border-radius: 20px;
  font-size: 15px;
  margin-right: 8px;
  padding: 4px 10px;
  text-transform: uppercase;
}

.stats {
  margin-top: 35px;
}

.stat-module {
  display: inline-block;
  font-size: 22px;
  margin-right: 20px;
  text-transform: uppercase;
  
}

.stat-number {
  display: inline-block;
  font-weight: 600;
  margin-left: 4px;
}

.overlay-header {

  height: 160px;
  margin: -110px 0 0 -1%;
  transform: rotate(-10deg);
  width: 150%;
  z-index: 0;
   border-radius: 150%;
  
}

.body {
  background-color: #000;
  color: #fff;
  margin-top: -50px;
  padding: 0 15px 15px;
  position: relative;
  
  
}

.body-image {
  border-radius: 10%;
  box-shadow: 5px 10px 75px rgba(0, 0, 0, .4);
  float: center;
  margin: -200px 0 0px;
  position: relative;
  z-index: 0;
  height: 450px;
  width: 290px;
  
}




 /*-------diseño plantilla---------*/





/*-------boton ver---------*/
.collapsible {
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
 border: 1px solid red;
  outline: none;
 font-size: 25px;
    border-radius: 100px;
}

.active, .collapsible:hover {
  background-color: #000;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #000;
  border-radius: 15px;
}
/*-------boton ver---------*/


 /*-------boton visto---------*/

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}




.tgl {
  display: none;
}


.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}




.tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 108;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #ff0000;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #00ff43b3;
  color: black;
}
.tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}
 /*-------boton visto---------*/



 /*-------boton capitulo---------*/

  html {
  background-color: #000000;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 00;
  text-align: center;
}

.accordian ul ul {
	display: flex;
       
    place-content: center space-between;
    flex-flow: row wrap;
    align-items: flex-start;
  color:red;
}


.btn,button,[type='button'],[type='reset'],[type='submit'],.pagination a,.extend,.tagcloud a,a.comment-reply-link{cursor:pointer;padding:.5rem 1.5rem;display:inline-block;vertical-align:top;text-align:center;line-height:2rem;width:108px;height:60px;background-color:#b0b0b0;color:rgb(0 0 0);min-width:3rem;border:0}

.video-options li .btn{text-align:center;line-height:2rem;padding:.9rem;border-radius:10px;color:rgb(0 0 0);background-color:#b0b0b0}
 /*-------boton capitulo---------*/
</style>
    
