



.mh-head.mh-align-right .mh-text{text-align:right}.mh-head.mh-btns-left{padding-left:50px}.mh-head.mh-btns-left-2{padding-left:90px}.mh-head.mh-btns-left-3{padding-left:130px}.mh-head.mh-btns-right{padding-right:50px}.mh-head.mh-btns-right-2{padding-right:90px}.mh-head.mh-btns-right-3{padding-right:130px}.mh-head .mh-btns-left,.mh-head .mh-btns-right{display:block;width:40px;position:absolute;top:0;bottom:0}.mh-head .mh-btns-left{left:10px}

.mh-head .mh-btns-right{right:10px}.mh-head.mh-btns-left-2 .mh-btns-left,.mh-head.mh-btns-right-2 .mh-btns-right{width:80px}.mh-head.mh-btns-left-3 .mh-btns-left,.mh-head.mh-btns-right-3 .mh-btns-right{width:120px}



.mh-head .mh-btns-left>*,.mh-head .mh-btns-right>*{text-align:center;font-size:18px;line-height:20px;width:40px;display:block;padding:10px 0;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.mh-head .mh-btns-left>:nth-child(1),.mh-head .mh-btns-right>:nth-child(1){left:0}.mh-head .mh-btns-left>:nth-child(2),.mh-head .mh-btns-right>:nth-child(2){left:40px}
  
  

.accordian h3 {
  
  border-radius: 150px;
    margin: 0;
    padding: 0;
color:white;
	line-height: 34px;
	padding: 0 10px;


	background:linear-gradient(71deg, #1fd1f9 0%, #b621fe 74%);
}



.accordian ul {
	    margin: 0;
    padding: 0;
  
}


.accordian li {
	list-style-type: none;  
}

.accordian ul ul {
	display: flex;
       
    place-content: center space-between;
    flex-flow: row wrap;
    align-items: flex-start;
  
}


  
  
  
  
  
  :root{

--size:1rem;

--f-size:1rem;

--family:'Work Sans';

}

@media (min-width:100%){

:root{

--f-size:1.125rem;

}
}

*,:before,:after{-webkit-box-sizing:border-box;box-sizing:border-box;min-width:0}



hr{border:0;margin:calc(2 * var(--size)) 0;clear:both;overflow:hidden;height:1px;background-color:var(--light-1)}

[hidden],.hdd{display:none}

.swh{display:block}





button,input,select,textarea{font:inherit;width:100%;vertical-align:middle;line-height:normal;text-transform:none;overflow:visible}

fieldset{border:1px solid transparent;padding:var(--size)}


.btn,button,[type='button'],[type='reset'],[type='submit'],.pagination a,.extend,.tagcloud a,a.comment-reply-link{cursor:pointer;padding:.5rem 1.5rem;display:inline-block;vertical-align:top;text-align:center;line-height:2rem;width:100px;height:60px;background-color:#b0b0b0;color:rgb(0 0 0);min-width:3rem;border:0}

.btna{cursor:pointer;padding:-10rem 1.5rem;display:inline-block;vertical-align:top;text-align:center;line-height:2rem;width:80px;height:30px;    position: absolute;z-index: 100;background-color:#fff;color:rgb(0 0 0);min-width:3rem;border-radius: 50px;background-color: #fff0;}

#left{float:left;
}

#right{float:right;
}
.btn:hover,a.btn:hover,button:hover,.tagcloud a:hover,a.comment-reply-link:hover,[type='button']:hover,[type='reset']:hover,[type='submit']:hover,.pagination a:hover,.pagination .current{background-color:#C03A3A;color:#000}




button, a.btn
{
  
  
 
  background-image: url('');
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: 92% center;
  box-shadow: 0 0.2rem 0 #ff0000;
  
} 

button:hover, a.btn:hover
{
  background-color: crimson;
  color: white;
  background-image: url('');
  box-shadow: 0 0.3rem 0 #ff0000;
  transform: translateY(-0.2rem);
}





.video{position:relative;min-height:420px;overflow:hidden;max-height:43rem;background-color:#000;margin-bottom:var(--size)}

.video:last-child{margin-bottom:0}

.video:before{content:'';display:block;padding-top:56.55%}

.video video,.video iframe{position:absolute;left:0;top:0;width:100%;height:100%}

.aa-tb.on{display:block}

.aa-tbs{margin: 0px 0px -45% 0px;padding:0px 0px 0px 0px;list-style:none;white-space:nowrap}
.aa-tbsx{margin:0 0 var(--size);padding:0px 0px 180px 0px;list-style:none;white-space:nowrap}

.aa-tbs a{display:block;line-height:2rem;font-size:var(--f-size);color:var(--text);white-space:nowrap;position:relative;margin-bottom:var(--size);border: 1px solid red;}

.aa-tbs a:before{height:3px;content:'';position:absolute;left:0;right:0;bottom:calc(-1 * var(--size));width:0;margin:auto;-webkit-transition:.2s;transition:.2s}

.aa-tbs a.on{color:var(--link);opacity:1}

.aa-tbs a.on:before{background-color:var(--primary);width:100%}


.video-options li .btn{text-align:center;line-height:2rem;padding:1rem;border-radius:.2rem;color:rgb(0 0 0);background-color:#b0b0b0;width: 120;}

.video-options li .btn.on,.video-options li .btn:hover{background-color:#868ca0} 


.visto input[type="checkbox"]{ width: 50px; height: 20px; -webkit-appearance:none; background: #c6c6c6; border-radius: 50px; outline: none; transition: .5s; box-shadow: inset 0 0 5px rgba(0,0,0,.3); position: relative; } .visto input[type="checkbox"]:checked{ background; background: #ff0000;; } .visto input[type="checkbox"]:checked ~  h2 > span{ display: none; } .visto h2 span{ } .visto input[type="checkbox"]::before{ content: ''; width: 20px; height: 20px; border-radius: 50px; background: #868ca0; position: absolute; top: 0; left: 0; transform: scale(1.1); box-shadow: 0 2px 6px rgba(0,0,0,.2); transition: .4s; } .visto input:checked[type="checkbox"]::before{ left: 30px; } .visto h2{ font-size: 10px; font-weight: 600; color: white; }

  
#aa-options{ color:red;}



body{margin:0;font:400 1rem/1.5625rem sans-serif;font-size: 1.3rem;}


img{vertical-align:middle;border-radius: 30px;max-width:100%}:focus{outline:0}a{text-decoration:none}

body{color:#fff;background-color:#000}
a{color:#fff}
a:hover{color:#007AFF}
 

.MovieListSldCn .TPostMv .Image,.MovieListSldCn .TPostMv .Image img,.backdrop>.Image,.backdrop>.Image img{position:absolute;left:0;bottom:0;width:100%;height:100%;object-fit:cover;object-position:50% 15%;top: 0;}


.MovieListSldCn .TPostMv .Image:after,.backdrop>.Image:after{background:linear-gradient(to bottom, rgba(8,15,40,0) 0%,rgba(0,0,0,1) 100%);content:'';position:absolute;left:0;bottom:0;right:0;height:100%;pointer-events:none}

.Qlty,.TpTv{color: #1A1818;background-color: #EDB709;font-size: 0.65rem;font-weight: 500;height: 1.125rem;padding: 0 .3rem;border-radius: 1rem;vertical-align: top;}

.backdrop>.Image{z-index: -1;}

.movtv-info footer{overflow: hidden;}
.movtv-info .Description{clear: both;margin-bottom: 1rem;}
.movtv-info .Description p:last-child{margin-bottom: 0;}
.movtv-info header .Title,.video>.Title{font-size: 2.2rem;color: #fff;font-weight: 700;margin-bottom: 0;line-height: 1.5rem;}

.backdrop>.Image img{opacity: .5;}

@media (min-width:576px){
	.cont{max-width:540px}
	.dfxa{display:-webkit-flex;display:flex}
	.MovieList.Rows>li,.Wdgt .MovieList.Rows>li{-ms-flex: 0 0 33.33333333333333%;flex: 0 0 33.33333333333333%;max-width: 33.33333333333333%;}
}


.collapsible {
  background-color: #000;
  color: white; 
  cursor: pointer;
  padding: 9px;
  width: 50%;
  border: none;

  outline: none;
  font-size: 15px;
  border: 1px solid red;
    border-radius: 50px;
}

.active, .collapsible:hover {
  background-color: #f00;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #2e2e2;
   width: 100%;
}


.btn {
  padding: 10px 40px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #aa0404;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.btn:hover {background-color: #aa0404}

.btn:active {
  background-color: #aa0404;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
	
	
	html,
body {

  min-height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}




.tgl {
  display: none;
}


.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 120;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}




.tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #00ff43b3;
}
.tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}
